* {
  position: relative;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  font-family: 'Caveat Brush', cursive;
  font-size: 4em;
  color: #473664;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 0 20px;
}

button {
  font-family: 'Caveat Brush', cursive; 
  color: black; 
  border: 2px solid #473664;
  padding: 10px 20px;
  display: inline-block;
  font-size: 1.5em;
  margin: 15px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: none;
}

button:hover {
  border: 2px solid #473664;
    color: white;
    background-color: #473664;
    color: white;
}

.Category, .Score, .Lives {
    font-family: 'Caveat Brush', cursive;
    font-size: 1.8em;
    color: #cc374c;
}

.Keyboard {
  width: 95%;
  margin: 0 auto;
  max-width: 600px;
}

.Word {
  margin: 20px 0;
}

.Word-letter, .Keyboard-letter, .Checked-letter-correct, .Checked-letter-wrong {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px 3px;
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 10px;
  line-height: 23px;
  font-family: 'Boogaloo', cursive;
  font-size: 1.2em;
}

.Keyboard-letter:hover {
  background-color: #d7cfd6;
}

.Word-letter, Checked-letter-correct, .Checked-letter-wrong {
  pointer-events: none;  
}

.Checked-letter-correct {
  background-color: lightgreen;
  color: grey;
}

.Checked-letter-wrong {
  background-color: #ffc4c4;
  color: grey;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */